@import "../../../../../bundles/app/css/_variables";
@import "../../../../../bundles/app/css/_flexbox";
friend.autocomplete {
    position: relative;
    @include flexbox();
    @include align-items(center);
    width: 100%;
    > div {
        outline: none;
        > avatar {
            cursor: pointer;
            outline: none;
            display: block;
            width: 35px;
            height: 35px;
            margin: 0px 16px 0px 0px;
            > div.halo {
                outline: none;
                background-color: transparent;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                padding: 3%;
                > div {
                    outline: none;
                    border-radius: 50%;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    background: $primary_color;
                    > img {
                        outline: none;
                        width: 100%;
                    }
                    > md-icon {
                        padding: 0px 8px;
                        margin-top: -14px;
                        color: #FFF;
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
    > description {
        cursor: pointer;
        outline: none;
        margin-left: 20px;
        flex-basis: 100%;
        display: block;
        margin-left: 0px;
        height: 100%;
        @include flexbox();
        @include align-items(center);
        font-size: 0.85em;
    }
}

md-dialog.friends-selector-dialog {
    md-dialog-content {
        min-width: 700px;
        max-width: 700px;
        height: 430px;
        > md-content {
            padding: 0px;
            height: 100%;
            > div {
                padding: 0px;
                height: 100%;
                > div {
                    &:first-child {
                        padding: 0px 16px;
                        border-bottom: 1px solid #DEDEDE;
                    }
                    &:last-child {
                        border-left: 1px solid #DEDEDE;
                        border-bottom: 1px solid #DEDEDE;
                        background-color: #F1F1F1;
                        padding: 16px;
                        overflow: scroll;
                        > span {
                            font-size: 0.8em;
                        }
                    }
                }
            }
            span.title {
                font-size: 0.8em;
                position: absolute;
                margin-top: -23px;
                padding-left: 5px;
            }
            friends {
                display: block;
                outline: none;
                border-radius: 5px;
                height: 330px;
                overflow: scroll;
                margin-top: 3px;
                &.selected {
                    height: auto;
                    margin-top: 0px;
                    > friend {
                        > div {
                            cursor: default;
                            outline: none;
                            > avatar {
                                cursor: default;
                                width: 35px;
                                height: 35px;
                                margin: 0px 8px 0px 0px;
                                /* EMAIL ICON */
                                md-icon {
                                    padding: 0px 8px;
                                    margin-top: 8px;
                                    color: #FFF;
                                    height: 19px;
                                    width: 19px;
                                }
                            }
                            md-icon {
                                height: 16px;
                                width: 16px;
                                cursor: pointer;
                            }
                        }
                        > description {
                            cursor: default;
                            font-size: 0.8em;
                        }
                    }
                }
                friend {
                    &:hover {
                        background-color: #F3F3F3;
                        outline: none;
                    }
                    position: relative;
                    @include flexbox();
                    @include align-items(center);
                    height: 55px;
                    width: 100%;
                    > div {
                        outline: none;
                        > avatar {
                            cursor: pointer;
                            outline: none;
                            display: block;
                            width: 45px;
                            height: 45px;
                            margin: 0px 16px 0px 0px;
                            > div.halo {
                                outline: none;
                                background-color: transparent;
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                                padding: 3%;
                                > div {
                                    outline: none;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    height: 100%;
                                    width: 100%;
                                    background: $primary_color;
                                    > img {
                                        outline: none;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    > description {
                        cursor: pointer;
                        outline: none;
                        margin-left: 20px;
                        flex-basis: 100%;
                        display: block;
                        margin-left: 0px;
                        height: 100%;
                        @include flexbox();
                        @include align-items(center);
                        font-size: 0.85em;
                    }
                }
            }
        }
        .md-errors-spacer {
            display: none;
        }
        h2 {
            margin: 8px 0px;
            font-size: 0.9em;
            font-weight: normal;
        }
    }
    md-dialog-actions {
        padding: 8px 16px;
        button {
            padding: 0px 16px;
        }
    }
}


/*------------------------- 
RESPONSIVE 
-------------------------*/

@include breakpoint(mobile) {
    md-dialog.friends-selector-dialog {
        height: 95%;
        min-width: 240px;
        max-width: 93%;
        max-height: 90%;
        width: 96%;
        md-dialog-content {
            min-width: 100%;
            height: 430px;
            > md-content {
                > div {
                    display: block;
                    > div {
                        &:first-child {
                            max-width: 100%;
                            md-autocomplete {
                                font-size: 0.8em;
                                md-input-container {
                                    padding-bottom: 10px;
                                    margin-top: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
