@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";

/*------------------------- 
VIEW:   Events Module
ROUTE:  /app/events/*
-------------------------*/

.events {
    /*------------------------- 
    VIEW:   View Section
    ROUTE:  /app/events/view/*
    -------------------------*/
    &.view {
        /*------------------------- 
        VIEW:   Event Resume Page
        ROUTE:  /app/events/view/resume
        -------------------------*/
        &.resume {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
            border-radius: 0;
            box-shadow: none;
            > md-sidenav {
                /*--------------------------
                MAPS SIDENAV && COMMENTS SIDENAV
                --------------------------*/
                &.md-sidenav-right {
                    max-width: 50%;
                    width: 50%;
                    comments-viewer {
                        position: fixed;
                        top: 64px;
                        bottom: 113px;
                    }
                }
                &.md-sidenav-left {
                    max-width: 50%;
                    width: 50%;
                }
            }
            event-right-column {
                position: absolute;
                top: 64px;
                z-index: 2;
                left: 23%;
                right: 3%;
                display: block;
                background-color: #FFF;
                border-radius: 4px;
                display: block;
                margin-bottom: 24px;
                > flex-loading {
                    min-height: 300px
                }
                > event-location {
                    display: block;
                    height: 207px;
                    > google-map {
                        height: 100%;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                        > map {
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                        }
                    }
                }
                > event-organizer {
                    display: block;
                    margin-top: -22px;
                    position: absolute;
                    color: #fff;
                    font-size: 0.9em;
                    > span {
                        &:first-child {
                            font-size: 0.8em;
                        }
                        &:last-child {}
                    }
                }
                > event-header {
                    display: block;
                    > div {
                        height: 60px;
                        border-bottom: 1px solid #F5F5F5;
                        /* EVENT TITLE */
                        &:nth-child(1) {
                            > h1 {
                                padding: 13px 0px 15px 16px;
                                margin: 0px;
                                font-size: 1.8em;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                > span {
                                    font-weight: normal;
                                    font-size: 0.8em;
                                    > md-icon {
                                        margin-top: -2px;
                                        padding-left: 8px;
                                        margin-right: -6px;
                                    }
                                }
                            }
                        }
                        /* EVENT DATE */
                        /* EVENT LOCATION */
                        &:nth-child(2),
                        &:nth-child(3) {
                            padding: 0px 16px;
                            @include flexbox();
                            @include align-items(center);
                            > span {
                                padding-left: 8px;
                                opacity: 0.55;
                                font-size: 1.1em;
                                @include flex-basis(100%);
                                > span {
                                    &:last-child {
                                        font-size: 0.8em;
                                        font-weight: 300;
                                    }
                                }
                            }
                            button {
                                padding: 0px 16px;
                                > span {
                                    font-size: 0.9em;
                                }
                                > md-icon {
                                    height: 20px;
                                    width: 20px;
                                }
                            }
                        }
                    }
                    button.join {
                        border-radius: 50px;
                        padding: 0px 12px;
                        min-width: 85%;
                    }
                }
                > event-body {
                    @include flexbox;
                    padding: 8px 16px;
                    button.comments {
                        margin-top: 20px;
                    }
                    > div {
                        /* TAGS && DESCRIPTION */
                        &:first-child {
                            @include flex-basis(70%);
                            > event-description {
                                > p {
                                    font-weight: 300;
                                    font-size: 1em;
                                    text-align: justify;
                                    margin: 3px;
                                }
                            }
                            > event-tags {
                                display: block;
                                padding-top: 16px;
                                .md-chips {
                                    box-shadow: none;
                                    md-chip {
                                        background-color: $primary_color;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                    /* PARTICPANTS */
                    > event-statistics {
                        @include flex-basis(30%);
                        padding-top: 4px;
                        display: block;
                        > .kpis {
                            @include flexbox;
                            @include flex-direction(row);
                            @include align-items(center);
                            @include justify-content(center);
                            padding-left: 8px;
                            > div {
                                @include flex-basis(50%);
                                @include flexbox;
                                @include flex-direction(column);
                                @include align-items(center);
                                margin-bottom: 8px;
                                border-bottom: 1px solid #F5F5F5;
                                padding-bottom: 8px;
                                &:first-child {
                                    border-right: 1px solid #F5F5F5;
                                }
                                > p {
                                    margin: 0px;
                                    font-size: 2em;
                                    margin-bottom: 3px;
                                }
                                > span {
                                    font-weight: 300;
                                }
                            }
                        }
                        > .friends {
                            @include flexbox;
                            @include flex-direction(row);
                            @include align-items(center);
                            @include justify-content(flex-start);
                            > div.marker {
                                width: 2.2em;
                                height: 2.2em;
                                margin-left: 4px;
                                &:first-child {
                                    margin-left: 8px;
                                }
                                > div.halo {
                                    border-radius: 4px;
                                    width: 100%;
                                    height: 100%;
                                    > div {
                                        overflow: hidden;
                                        height: 100%;
                                        width: 100%;
                                        border-radius: 4px;
                                        background: $primary_color;
                                        > img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            event-left-column {
                display: block;
                position: absolute;
                z-index: 2;
                top: 84px;
                left: 1%;
                @include flexbox;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                width: 21%;
                @include flex-basis(40%);
                event-avatar {
                    display: block;
                    width: 7em;
                    height: 7em;
                    > div.halo {
                        @include box-shadow(2px);
                        background-color: #FFF;
                        border-radius: 50%;
                        border: 1px solid #FFF;
                        width: 100%;
                        height: 100%;
                        padding: 3%;
                        > div {
                            border-radius: 50%;
                            overflow: hidden;
                            height: 100%;
                            width: 100%;
                            background: $primary_color;
                            > img {
                                width: 100%;
                            }
                        }
                    }
                }
                event-follow {
                    display: block;
                    margin-top: 23px;
                    &.authenticated {
                        margin-top: 0px;
                    }
                    &.addspace {
                        margin-top: 23px;
                    }
                    button.follow {
                        margin-top: 35px;
                        padding: 0px 25px;
                        border-radius: 50px;
                        border: 2px solid #fff;
                        color: #FFF;
                        min-width: 5em;
                        height: 3em;
                        box-shadow: none;
                        md-icon {
                            color: #fff;
                        }
                        &:not([disabled]):hover {
                            background-color: $primary_color;
                        }
                    }
                }
                event-date {
                    width: 85%;
                    margin-top: 16px;
                    @include noselect();
                    @include flexbox();
                    @include flex-direction(column);
                    border-radius: 4px;
                    outline: none;
                    display: block;
                    > div {
                        padding: 16px 0px;
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        outline: none;
                        &.day {
                            height: 35px;
                            color: #fff;
                            font-size: 1.3em;
                            background-color: rgba(0, 0, 0, 0.2);
                            text-transform: capitalize;
                        }
                        > div {
                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(center);
                            @include flex-direction(column);
                            color: #FFF;
                            text-transform: uppercase;
                            &.month {
                                font-size: 1.3em;
                            }
                            &.year {
                                font-size: 1.3em;
                            }
                            &.day {
                                font-size: 5em;
                            }
                        }
                    }
                }
            }
        }
    }
    &.create {
        /*------------------------- 
        VIEW:   Create Event Page
        ROUTE:  /app/events/create/step-1
        -------------------------*/
        &.step-1 {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
            border-radius: 0;
            box-shadow: none;
            div.column {
                position: absolute;
                top: 64px;
                z-index: 2;
                left: 23%;
                right: 3%;
                display: block;
                > event-content {
                    background-color: #FFF;
                    border-radius: 4px;
                    display: block;
                    &.show-settings {
                        margin-bottom: 40px;
                    }
                    > flex-loading {
                        min-height: 300px
                    }
                    > event-header {
                        display: block;
                        > div {
                            border-bottom: 1px solid #F5F5F5;
                            > h1 {
                                padding: 13px 0px 15px 16px;
                                margin: 0px;
                                font-size: 1.8em;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                > span {
                                    font-weight: normal;
                                    font-size: 0.8em;
                                    > md-icon {
                                        margin-top: -2px;
                                        padding-left: 8px;
                                        margin-right: -6px;
                                    }
                                }
                            }
                        }
                    }
                    > event-body {
                        display: block;
                        padding: 8px 16px;
                        md-input-container {
                            margin-bottom: 0px;
                            > textarea {
                                height: 93px;
                            }
                        }
                    }
                    > event-tags {
                        @include flexbox;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        margin: 0px 0px;
                        padding: 16px;
                        md-chip {
                            background-color: $accent_color;
                            color: $text_color;
                            md-icon {
                                color: $text_color;
                            }
                        }
                    }
                    > event-advanced-settings {
                        display: block;
                        padding: 12px 16px 16px 12px;
                        margin-top: 10px;
                        border-left: 4px solid #FF4081;
                        > h2 {
                            margin: 8px 0px;
                            font-size: 0.9em;
                            font-weight: normal;
                        }
                        i {
                            font-size: 0.85em;
                            margin-left: 4px;
                        }
                        &.ng-hide-add {
                            animation: 0.5s fadeIn ease;
                        }
                        &.ng-hide-remove {
                            animation: 0.5s fadeOut ease;
                        }
                    }
                    > event-actions {
                        background: #F3F3F3;
                        display: block;
                        padding: 12px 8px;
                        text-align: right;
                        > button.settings {
                            float: left;
                            > span {
                                text-transform: none;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
            event-avatar {
                display: block;
                position: absolute;
                z-index: 2;
                top: 84px;
                left: 1%;
                @include flexbox;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                width: 21%;
                @include flex-basis(40%);
                div.marker {
                    width: 7em;
                    height: 7em;
                    > div.halo {
                        @include box-shadow(2px);
                        background-color: #FFF;
                        border-radius: 50%;
                        border: 1px solid #FFF;
                        width: 100%;
                        height: 100%;
                        padding: 3%;
                        > div {
                            border-radius: 50%;
                            overflow: hidden;
                            height: 100%;
                            width: 100%;
                            background: $primary_color;
                            > img {
                                width: 100%;
                            }
                        }
                    }
                }
                div.name {
                    text-align: center;
                    color: #fff;
                    font-size: 1.4em;
                    padding: 12px 8px 16px 8px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 100%;
                }
                div.date {
                    width: 85%;
                    margin-top: 40px;
                    @include noselect();
                    border-radius: 4px;
                    outline: none;
                    cursor: pointer;
                    > div {
                        padding: 16px 0px;
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        outline: none;
                        &.day {
                            height: 35px;
                            color: #fff;
                            font-size: 1.3em;
                            background-color: rgba(0, 0, 0, 0.2);
                            text-transform: capitalize;
                        }
                        > div {
                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(center);
                            @include flex-direction(column);
                            color: #FFF;
                            text-transform: uppercase;
                            &.month {
                                font-size: 1.3em;
                            }
                            &.year {
                                font-size: 1.3em;
                            }
                            &.day {
                                font-size: 5em;
                            }
                        }
                    }
                }
            }
        }
    }
}
