/* 
    SASS Mixins
*/
/*------------------------- 
VIEW:   Events Module
ROUTE:  /app/events/*
-------------------------*/
.events {
  /*------------------------- 
  VIEW:   View Section
  ROUTE:  /app/events/view/*
  -------------------------*/ }
  .events.view {
    /*------------------------- 
    VIEW:   Event Resume Page
    ROUTE:  /app/events/view/resume
    -------------------------*/ }
    .events.view.resume {
      height: 100%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      border-radius: 0;
      box-shadow: none; }
      .events.view.resume > md-sidenav {
        /*--------------------------
        MAPS SIDENAV && COMMENTS SIDENAV
        --------------------------*/ }
        .events.view.resume > md-sidenav.md-sidenav-right {
          max-width: 50%;
          width: 50%; }
          .events.view.resume > md-sidenav.md-sidenav-right comments-viewer {
            position: fixed;
            top: 64px;
            bottom: 113px; }
        .events.view.resume > md-sidenav.md-sidenav-left {
          max-width: 50%;
          width: 50%; }
      .events.view.resume event-right-column {
        position: absolute;
        top: 64px;
        z-index: 2;
        left: 23%;
        right: 3%;
        display: block;
        background-color: #FFF;
        border-radius: 4px;
        display: block;
        margin-bottom: 24px; }
        .events.view.resume event-right-column > flex-loading {
          min-height: 300px; }
        .events.view.resume event-right-column > event-location {
          display: block;
          height: 207px; }
          .events.view.resume event-right-column > event-location > google-map {
            height: 100%;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px; }
            .events.view.resume event-right-column > event-location > google-map > map {
              border-top-left-radius: 4px;
              border-top-right-radius: 4px; }
        .events.view.resume event-right-column > event-organizer {
          display: block;
          margin-top: -22px;
          position: absolute;
          color: #fff;
          font-size: 0.9em; }
          .events.view.resume event-right-column > event-organizer > span:first-child {
            font-size: 0.8em; }
        .events.view.resume event-right-column > event-header {
          display: block; }
          .events.view.resume event-right-column > event-header > div {
            height: 60px;
            border-bottom: 1px solid #F5F5F5;
            /* EVENT TITLE */
            /* EVENT DATE */
            /* EVENT LOCATION */ }
            .events.view.resume event-right-column > event-header > div:nth-child(1) > h1 {
              padding: 13px 0px 15px 16px;
              margin: 0px;
              font-size: 1.8em;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap; }
              .events.view.resume event-right-column > event-header > div:nth-child(1) > h1 > span {
                font-weight: normal;
                font-size: 0.8em; }
                .events.view.resume event-right-column > event-header > div:nth-child(1) > h1 > span > md-icon {
                  margin-top: -2px;
                  padding-left: 8px;
                  margin-right: -6px; }
            .events.view.resume event-right-column > event-header > div:nth-child(2), .events.view.resume event-right-column > event-header > div:nth-child(3) {
              padding: 0px 16px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              -moz-align-items: center;
              align-items: center; }
              .events.view.resume event-right-column > event-header > div:nth-child(2) > span, .events.view.resume event-right-column > event-header > div:nth-child(3) > span {
                padding-left: 8px;
                opacity: 0.55;
                font-size: 1.1em;
                -webkit-flex-basis: 100%;
                -moz-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%; }
                .events.view.resume event-right-column > event-header > div:nth-child(2) > span > span:last-child, .events.view.resume event-right-column > event-header > div:nth-child(3) > span > span:last-child {
                  font-size: 0.8em;
                  font-weight: 300; }
              .events.view.resume event-right-column > event-header > div:nth-child(2) button, .events.view.resume event-right-column > event-header > div:nth-child(3) button {
                padding: 0px 16px; }
                .events.view.resume event-right-column > event-header > div:nth-child(2) button > span, .events.view.resume event-right-column > event-header > div:nth-child(3) button > span {
                  font-size: 0.9em; }
                .events.view.resume event-right-column > event-header > div:nth-child(2) button > md-icon, .events.view.resume event-right-column > event-header > div:nth-child(3) button > md-icon {
                  height: 20px;
                  width: 20px; }
          .events.view.resume event-right-column > event-header button.join {
            border-radius: 50px;
            padding: 0px 12px;
            min-width: 85%; }
        .events.view.resume event-right-column > event-body {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          padding: 8px 16px;
          /* PARTICPANTS */ }
          .events.view.resume event-right-column > event-body button.comments {
            margin-top: 20px; }
          .events.view.resume event-right-column > event-body > div {
            /* TAGS && DESCRIPTION */ }
            .events.view.resume event-right-column > event-body > div:first-child {
              -webkit-flex-basis: 70%;
              -moz-flex-basis: 70%;
              -ms-flex-preferred-size: 70%;
              flex-basis: 70%; }
              .events.view.resume event-right-column > event-body > div:first-child > event-description > p {
                font-weight: 300;
                font-size: 1em;
                text-align: justify;
                margin: 3px; }
              .events.view.resume event-right-column > event-body > div:first-child > event-tags {
                display: block;
                padding-top: 16px; }
                .events.view.resume event-right-column > event-body > div:first-child > event-tags .md-chips {
                  box-shadow: none; }
                  .events.view.resume event-right-column > event-body > div:first-child > event-tags .md-chips md-chip {
                    background-color: #3F51B5;
                    color: #fff; }
          .events.view.resume event-right-column > event-body > event-statistics {
            -webkit-flex-basis: 30%;
            -moz-flex-basis: 30%;
            -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
            padding-top: 4px;
            display: block; }
            .events.view.resume event-right-column > event-body > event-statistics > .kpis {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-direction: normal;
              -webkit-box-orient: horizontal;
              -webkit-flex-direction: row;
              -moz-flex-direction: row;
              -ms-flex-direction: row;
              flex-direction: row;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              -moz-align-items: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              -moz-justify-content: center;
              justify-content: center;
              padding-left: 8px; }
              .events.view.resume event-right-column > event-body > event-statistics > .kpis > div {
                -webkit-flex-basis: 50%;
                -moz-flex-basis: 50%;
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-direction: normal;
                -webkit-box-orient: vertical;
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -moz-align-items: center;
                align-items: center;
                margin-bottom: 8px;
                border-bottom: 1px solid #F5F5F5;
                padding-bottom: 8px; }
                .events.view.resume event-right-column > event-body > event-statistics > .kpis > div:first-child {
                  border-right: 1px solid #F5F5F5; }
                .events.view.resume event-right-column > event-body > event-statistics > .kpis > div > p {
                  margin: 0px;
                  font-size: 2em;
                  margin-bottom: 3px; }
                .events.view.resume event-right-column > event-body > event-statistics > .kpis > div > span {
                  font-weight: 300; }
            .events.view.resume event-right-column > event-body > event-statistics > .friends {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-direction: normal;
              -webkit-box-orient: horizontal;
              -webkit-flex-direction: row;
              -moz-flex-direction: row;
              -ms-flex-direction: row;
              flex-direction: row;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              -moz-align-items: center;
              align-items: center;
              -webkit-box-pack: start;
              -ms-flex-pack: start;
              -webkit-justify-content: flex-start;
              -moz-justify-content: flex-start;
              justify-content: flex-start; }
              .events.view.resume event-right-column > event-body > event-statistics > .friends > div.marker {
                width: 2.2em;
                height: 2.2em;
                margin-left: 4px; }
                .events.view.resume event-right-column > event-body > event-statistics > .friends > div.marker:first-child {
                  margin-left: 8px; }
                .events.view.resume event-right-column > event-body > event-statistics > .friends > div.marker > div.halo {
                  border-radius: 4px;
                  width: 100%;
                  height: 100%; }
                  .events.view.resume event-right-column > event-body > event-statistics > .friends > div.marker > div.halo > div {
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    background: #3F51B5; }
                    .events.view.resume event-right-column > event-body > event-statistics > .friends > div.marker > div.halo > div > img {
                      width: 100%; }
      .events.view.resume event-left-column {
        display: block;
        position: absolute;
        z-index: 2;
        top: 84px;
        left: 1%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        width: 21%;
        -webkit-flex-basis: 40%;
        -moz-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
        .events.view.resume event-left-column event-avatar {
          display: block;
          width: 7em;
          height: 7em; }
          .events.view.resume event-left-column event-avatar > div.halo {
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 2px -2px rgba(0, 0, 0, 0.12);
            background-color: #FFF;
            border-radius: 50%;
            border: 1px solid #FFF;
            width: 100%;
            height: 100%;
            padding: 3%; }
            .events.view.resume event-left-column event-avatar > div.halo > div {
              border-radius: 50%;
              overflow: hidden;
              height: 100%;
              width: 100%;
              background: #3F51B5; }
              .events.view.resume event-left-column event-avatar > div.halo > div > img {
                width: 100%; }
        .events.view.resume event-left-column event-follow {
          display: block;
          margin-top: 23px; }
          .events.view.resume event-left-column event-follow.authenticated {
            margin-top: 0px; }
          .events.view.resume event-left-column event-follow.addspace {
            margin-top: 23px; }
          .events.view.resume event-left-column event-follow button.follow {
            margin-top: 35px;
            padding: 0px 25px;
            border-radius: 50px;
            border: 2px solid #fff;
            color: #FFF;
            min-width: 5em;
            height: 3em;
            box-shadow: none; }
            .events.view.resume event-left-column event-follow button.follow md-icon {
              color: #fff; }
            .events.view.resume event-left-column event-follow button.follow:not([disabled]):hover {
              background-color: #3F51B5; }
        .events.view.resume event-left-column event-date {
          width: 85%;
          margin-top: 16px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          border-radius: 4px;
          outline: none;
          display: block; }
          .events.view.resume event-left-column event-date > div {
            padding: 16px 0px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center;
            outline: none; }
            .events.view.resume event-left-column event-date > div.day {
              height: 35px;
              color: #fff;
              font-size: 1.3em;
              background-color: rgba(0, 0, 0, 0.2);
              text-transform: capitalize; }
            .events.view.resume event-left-column event-date > div > div {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              -moz-align-items: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              -moz-justify-content: center;
              justify-content: center;
              -webkit-box-direction: normal;
              -webkit-box-orient: vertical;
              -webkit-flex-direction: column;
              -moz-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              color: #FFF;
              text-transform: uppercase; }
              .events.view.resume event-left-column event-date > div > div.month {
                font-size: 1.3em; }
              .events.view.resume event-left-column event-date > div > div.year {
                font-size: 1.3em; }
              .events.view.resume event-left-column event-date > div > div.day {
                font-size: 5em; }
  .events.create {
    /*------------------------- 
    VIEW:   Create Event Page
    ROUTE:  /app/events/create/step-1
    -------------------------*/ }
    .events.create.step-1 {
      height: 100%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      border-radius: 0;
      box-shadow: none; }
      .events.create.step-1 div.column {
        position: absolute;
        top: 64px;
        z-index: 2;
        left: 23%;
        right: 3%;
        display: block; }
        .events.create.step-1 div.column > event-content {
          background-color: #FFF;
          border-radius: 4px;
          display: block; }
          .events.create.step-1 div.column > event-content.show-settings {
            margin-bottom: 40px; }
          .events.create.step-1 div.column > event-content > flex-loading {
            min-height: 300px; }
          .events.create.step-1 div.column > event-content > event-header {
            display: block; }
            .events.create.step-1 div.column > event-content > event-header > div {
              border-bottom: 1px solid #F5F5F5; }
              .events.create.step-1 div.column > event-content > event-header > div > h1 {
                padding: 13px 0px 15px 16px;
                margin: 0px;
                font-size: 1.8em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap; }
                .events.create.step-1 div.column > event-content > event-header > div > h1 > span {
                  font-weight: normal;
                  font-size: 0.8em; }
                  .events.create.step-1 div.column > event-content > event-header > div > h1 > span > md-icon {
                    margin-top: -2px;
                    padding-left: 8px;
                    margin-right: -6px; }
          .events.create.step-1 div.column > event-content > event-body {
            display: block;
            padding: 8px 16px; }
            .events.create.step-1 div.column > event-content > event-body md-input-container {
              margin-bottom: 0px; }
              .events.create.step-1 div.column > event-content > event-body md-input-container > textarea {
                height: 93px; }
          .events.create.step-1 div.column > event-content > event-tags {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin: 0px 0px;
            padding: 16px; }
            .events.create.step-1 div.column > event-content > event-tags md-chip {
              background-color: #E91E63;
              color: #FFF; }
              .events.create.step-1 div.column > event-content > event-tags md-chip md-icon {
                color: #FFF; }
          .events.create.step-1 div.column > event-content > event-advanced-settings {
            display: block;
            padding: 12px 16px 16px 12px;
            margin-top: 10px;
            border-left: 4px solid #FF4081; }
            .events.create.step-1 div.column > event-content > event-advanced-settings > h2 {
              margin: 8px 0px;
              font-size: 0.9em;
              font-weight: normal; }
            .events.create.step-1 div.column > event-content > event-advanced-settings i {
              font-size: 0.85em;
              margin-left: 4px; }
            .events.create.step-1 div.column > event-content > event-advanced-settings.ng-hide-add {
              animation: 0.5s fadeIn ease; }
            .events.create.step-1 div.column > event-content > event-advanced-settings.ng-hide-remove {
              animation: 0.5s fadeOut ease; }
          .events.create.step-1 div.column > event-content > event-actions {
            background: #F3F3F3;
            display: block;
            padding: 12px 8px;
            text-align: right; }
            .events.create.step-1 div.column > event-content > event-actions > button.settings {
              float: left; }
              .events.create.step-1 div.column > event-content > event-actions > button.settings > span {
                text-transform: none;
                font-weight: normal; }
      .events.create.step-1 event-avatar {
        display: block;
        position: absolute;
        z-index: 2;
        top: 84px;
        left: 1%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        width: 21%;
        -webkit-flex-basis: 40%;
        -moz-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
        .events.create.step-1 event-avatar div.marker {
          width: 7em;
          height: 7em; }
          .events.create.step-1 event-avatar div.marker > div.halo {
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 2px -2px rgba(0, 0, 0, 0.12);
            background-color: #FFF;
            border-radius: 50%;
            border: 1px solid #FFF;
            width: 100%;
            height: 100%;
            padding: 3%; }
            .events.create.step-1 event-avatar div.marker > div.halo > div {
              border-radius: 50%;
              overflow: hidden;
              height: 100%;
              width: 100%;
              background: #3F51B5; }
              .events.create.step-1 event-avatar div.marker > div.halo > div > img {
                width: 100%; }
        .events.create.step-1 event-avatar div.name {
          text-align: center;
          color: #fff;
          font-size: 1.4em;
          padding: 12px 8px 16px 8px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 100%; }
        .events.create.step-1 event-avatar div.date {
          width: 85%;
          margin-top: 40px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border-radius: 4px;
          outline: none;
          cursor: pointer; }
          .events.create.step-1 event-avatar div.date > div {
            padding: 16px 0px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center;
            outline: none; }
            .events.create.step-1 event-avatar div.date > div.day {
              height: 35px;
              color: #fff;
              font-size: 1.3em;
              background-color: rgba(0, 0, 0, 0.2);
              text-transform: capitalize; }
            .events.create.step-1 event-avatar div.date > div > div {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              -moz-align-items: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              -moz-justify-content: center;
              justify-content: center;
              -webkit-box-direction: normal;
              -webkit-box-orient: vertical;
              -webkit-flex-direction: column;
              -moz-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              color: #FFF;
              text-transform: uppercase; }
              .events.create.step-1 event-avatar div.date > div > div.month {
                font-size: 1.3em; }
              .events.create.step-1 event-avatar div.date > div > div.year {
                font-size: 1.3em; }
              .events.create.step-1 event-avatar div.date > div > div.day {
                font-size: 5em; }

/*# sourceMappingURL=events.css.map */
