@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";

/*------------------------- 
VIEW:   Events Module
ROUTE:  /app/events/*
-------------------------*/

.events {
    /*------------------------- 
    VIEW:   View Section
    ROUTE:  /app/events/view/*
    -------------------------*/
    &.view {
        /*------------------------- 
        VIEW:   Index Page
        ROUTE:  /app/events/view/index
        -------------------------*/
        &.details {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            > md-sidenav {
                /*--------------------------
                MAPS SIDENAV
                --------------------------*/
                &.md-sidenav-left {
                    max-width: 550px;
                    width: 550px;
                    > md-content {
                        > google-map {
                            height: 300px;
                        }
                    }
                }
            }
            dialog-content {
                position: absolute;
                top: 3%;
                background-color: #FFF;
                box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
                left: 23%;
                right: 3%;
                min-height: 55%;
                border-radius: 4px;
                display: block;
                > flex-loading {
                    min-height: 300px
                }
                event-header {
                    border-bottom: 1px solid #EAEAEA;
                    h1 {
                        margin: 16px 0px 0px 16px;
                        font-size: 1.8em;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        > span {
                            font-weight: normal;
                            font-size: 0.8em;
                            > md-icon {
                                margin-top: -2px;
                                padding-left: 8px;
                                margin-right: -6px;
                            }
                        }
                    }
                    h2 {
                        margin: 0px 0px 16px 18px;
                        font-size: 1.2em;
                        font-weight: normal;
                        > span {
                            font-weight: normal;
                            font-size: 0.8em;
                            > md-icon {
                                margin-top: -2px;
                                padding-left: 8px;
                                margin-right: -2px;
                            }
                        }
                    }
                    button {
                        border-radius: 50px;
                        padding: 0px 24px;
                    }
                }
                event-description {
                    font-size: 0.9em;
                    padding: 16px;
                    text-align: justify;
                    display: block;
                    > p {
                        opacity: 0.8;
                        margin: 0px;
                    }
                }
                event-location {
                    display: block;
                    padding: 16px 16px 16px 0px;
                    > google-map {
                        > map {
                            border-radius: 4px;
                        }
                        margin-bottom: 0px;
                    }
                }
                event-tags {
                    display: block;
                    padding-top: 16px;
                    > tag {
                        text-decoration: underline;
                        padding-left: 4px;
                        padding-right: 4px;
                        cursor: pointer;
                        display: inline-block;
                        color: #3F51B5;
                    }
                }
                event-comments {
                    display: block;
                    > comment {
                        @include flexbox();
                        @include align-items(center);
                        &:first-child {}
                        &:last-child {
                            padding-bottom: 5px;
                        }
                        border-top: 1px solid #EAEAEA;
                        height: 70px;
                        width: 100%;
                        > div {
                            > avatar {
                                display: block;
                                width: 50px;
                                height: 50px;
                                margin: 0px 16px;
                                > div.halo {
                                    background-color: #FFF;
                                    border-radius: 50%;
                                    border: 1px solid #FFF;
                                    width: 100%;
                                    height: 100%;
                                    padding: 3%;
                                    > div {
                                        border-radius: 50%;
                                        overflow: hidden;
                                        height: 100%;
                                        width: 100%;
                                        background: $primary_color;
                                        > img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        > description {
                            margin-left: 20px;
                            flex-basis: 100%;
                            display: block;
                            margin-left: 0px;
                            text-align: justify;
                            margin-right: 16px;
                            font-size: 0.85em;
                            max-height: 2.4em;
                            overflow: hidden;
                            &:after {
                                content: "";
                                text-align: right;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 10%;
                                height: 1.2em;
                                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
                            }
                        }
                        > created-at {
                            display: block;
                            position: absolute;
                            right: 16px;
                            margin-top: 50px;
                            opacity: 0.5;
                            font-size: 0.8em;
                        }
                    }
                }
                load-comments {
                    display: block;
                    text-align: left;
                    font-size: 0.75em;
                    cursor: pointer;
                    padding: 8px 20px;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
                new-comment {
                    @include flexbox;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background: #F3F3F3;
                    > div:first-child {
                        @include flex-basis(80%);
                        padding: 8px 16px;
                    }
                    > div:last-child {
                        @include flexbox;
                        @include flex-basis(20%);
                        @include align-items(center);
                        @include justify-content(center);
                        > button {
                            border-radius: 50px;
                            padding: 0px 16px;
                        }
                    }
                }
            }
            dialog-avatar {
                display: block;
                position: absolute;
                top: 5%;
                left: 1%;
                @include flexbox;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                width: 21%;
                @include flex-basis(40%);
                div.marker {
                    width: 7em;
                    height: 7em;
                    > div.halo {
                        @include box-shadow(2px);
                        background-color: #FFF;
                        border-radius: 50%;
                        border: 1px solid #FFF;
                        width: 100%;
                        height: 100%;
                        padding: 3%;
                        > div {
                            border-radius: 50%;
                            overflow: hidden;
                            height: 100%;
                            width: 100%;
                            background: $primary_color;
                            > img {
                                width: 100%;
                            }
                        }
                    }
                }
                button.follow {
                    padding: 0px 25px;
                    border-radius: 50px;
                    background: none;
                    border: 2px solid #fff;
                    background-color: #FFF;
                    width: 75%;
                    height: 3em;
                }
                div.name {
                    text-align: center;
                    color: #fff;
                    font-size: 1.4em;
                    padding: 12px 8px 16px 8px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 100%;
                }
                div.date {
                    width: 85%;
                    margin-top: 37px;
                    @include noselect();
                    border-radius: 4px;
                    > div {
                        padding: 16px 0px;
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        &.day {
                            height: 35px;
                            color: #fff;
                            font-size: 1.3em;
                            background-color: rgba(0, 0, 0, 0.2);
                            text-transform: capitalize;
                        }
                        > div {
                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(center);
                            @include flex-direction(column);
                            color: #FFF;
                            text-transform: uppercase;
                            &.month {
                                font-size: 1.3em;
                            }
                            &.year {
                                font-size: 1.3em;
                            }
                            &.day {
                                font-size: 5em;
                            }
                        }
                    }
                }
            }
        }
    }
    &.create {
        /*------------------------- 
        VIEW:   Create Event Page
        ROUTE:  /app/events/create/step-1
        -------------------------*/
        &.step-1 {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
            border-radius: 0;
            box-shadow: none;
            div.column {
                position: absolute;
                top: 64px;
                z-index: 2;
                left: 23%;
                right: 3%;
                display: block;
                > event-content {
                    background-color: #FFF;
                    border-radius: 4px;
                    display: block;
                    &.show-settings {
                        margin-bottom: 40px;
                    }
                    > flex-loading {
                        min-height: 300px
                    }
                    > event-header {
                        display: block;
                        > div {
                            border-bottom: 1px solid #F5F5F5;
                            > h1 {
                                padding: 13px 0px 15px 16px;
                                margin: 0px;
                                font-size: 1.8em;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                > span {
                                    font-weight: normal;
                                    font-size: 0.8em;
                                    > md-icon {
                                        margin-top: -2px;
                                        padding-left: 8px;
                                        margin-right: -6px;
                                    }
                                }
                            }
                        }
                    }
                    > event-body {
                        display: block;
                        padding: 8px 16px;
                        md-input-container {
                            margin-bottom: 0px;
                            > textarea {
                                height: 93px;
                            }
                        }
                    }
                    > event-tags {
                        @include flexbox;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        margin: 0px 0px;
                        padding: 16px;
                        md-chip {
                            background-color: $accent_color;
                            color: $text_color;
                            md-icon {
                                color: $text_color;
                            }
                        }
                    }
                    > event-advanced-settings {
                        display: block;
                        padding: 12px 16px 16px 12px;
                        margin-top: 10px;
                        border-left: 4px solid #FF4081;
                        > h2 {
                            margin: 8px 0px;
                            font-size: 0.9em;
                            font-weight: normal;
                        }
                        i {
                            font-size: 0.85em;
                            margin-left: 4px;
                        }
                        &.ng-hide-add {
                            animation: 0.5s fadeIn ease;
                        }
                        &.ng-hide-remove {
                            animation: 0.5s fadeOut ease;
                        }
                    }
                    > event-actions {
                        background: #F3F3F3;
                        display: block;
                        padding: 12px 8px;
                        text-align: right;
                        > button.settings {
                            float: left;
                            > span {
                                text-transform: none;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
            event-avatar {
                display: block;
                position: absolute;
                z-index: 2;
                top: 84px;
                left: 1%;
                @include flexbox;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                width: 21%;
                @include flex-basis(40%);
                div.marker {
                    width: 7em;
                    height: 7em;
                    > div.halo {
                        @include box-shadow(2px);
                        background-color: #FFF;
                        border-radius: 50%;
                        border: 1px solid #FFF;
                        width: 100%;
                        height: 100%;
                        padding: 3%;
                        > div {
                            border-radius: 50%;
                            overflow: hidden;
                            height: 100%;
                            width: 100%;
                            background: $primary_color;
                            > img {
                                width: 100%;
                            }
                        }
                    }
                }
                div.name {
                    text-align: center;
                    color: #fff;
                    font-size: 1.4em;
                    padding: 12px 8px 16px 8px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 100%;
                }
                div.date {
                    width: 85%;
                    margin-top: 40px;
                    @include noselect();
                    border-radius: 4px;
                    outline: none;
                    cursor: pointer;
                    > div {
                        padding: 16px 0px;
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        outline: none;
                        &.day {
                            height: 35px;
                            color: #fff;
                            font-size: 1.3em;
                            background-color: rgba(0, 0, 0, 0.2);
                            text-transform: capitalize;
                        }
                        > div {
                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(center);
                            @include flex-direction(column);
                            color: #FFF;
                            text-transform: uppercase;
                            &.month {
                                font-size: 1.3em;
                            }
                            &.year {
                                font-size: 1.3em;
                            }
                            &.day {
                                font-size: 5em;
                            }
                        }
                    }
                }
            }
        }
        /*------------------------- 
        VIEW:   Resume Event Page
        ROUTE:  /app/events/create/step-2
        -------------------------*/
        &.step-2 {}
    }
}
