@import "../../../../css/variables";
@import "../../../../css/flexbox";
restricted-access-dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    > div.backdrop {
        opacity: 0.9;
        background-color: #000;
        height: 100%;
        width: 100%;
    }
    > div.login-box {
        position: fixed;
        top: 27%;
        bottom: 27%;
        right: 20%;
        left: 20%;
        width: auto;
        height: auto;
        @include flexbox;
        @include justify-content(center);
        @include flex-direction(column);
        padding: 24px;
        color: #fff;
        > md-icon.close {
            position: absolute;
            right: 16px;
            top: 16px;
            height: 40px;
            width: 40px;
        }
        > div.logo {
            padding-bottom: 16px;
            text-align: center;
            > md-icon {
                height: 5em;
                width: auto;
            }
        }
        > div.text {
            font-size: 1.2em;
            text-align: center
        }
        > div.legend {
            font-size: 1em;
            font-style: italic;
            text-align: center;
            padding-top: 2em;
        }
    }
    /* ANIMATION */
    &.ng-show-add {
        animation: 0.4s fadeOut linear;
    }
    &.ng-hide {
        animation: 0.45s fadeIn linear;
    }
}

@media only screen and (max-width: 800px) {
    restricted-access-dialog {
        > div.login-box {
            position: fixed;
            top: 20%;
            bottom: 20%;
            right: 6%;
            left: 6%;
        }
    }
}
