<gale-page class="events create step-1" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <!-- AVATAR -->
    <event-avatar>
        <div class="marker">
            <div class="halo">
                <div>
                    <img ng-src="{{model.user.photo | file}}" />
                </div>
            </div>
        </div>

        <!-- DATE PICKER -->
        <div ng-if="model.event.date" ng-click="showCalendar($event, model.event.date);" class="md-primary background date" layout="column">

            <div class="day" flex="initial">
                {{model.event.date | amDateFormat: 'YYYY'}}
            </div>

            <div flex layout="column" layout-align="center center" layout-fill>
                <div class="month">
                    {{model.event.date | amDateFormat: 'dddd'}}
                </div>
                <div class="day">
                    {{model.event.date | amDateFormat: 'D'}}
                </div>
                <div class="year">
                    {{model.event.date | amDateFormat: 'MMMM'}}
                </div>
            </div>

        </div>
    </event-avatar>

    <!-- WHITE BOX -->
    <div class="column">
        <event-content class="md-whiteframe-z2" ng-class="{'show-settings': showAdvancedSettings}">

            <event-header>
                <div>
                    <h1 class="md-primary text">
                        <span>Nuevo Evento</span>
                        <span ng-if="model.event.name">> <strong>{{model.event.name}}</strong></span>
                    </h1>
                </div>
            </event-header>

            <event-body>

                <md-content form-content>
                    <form name="form">
                        <!-- FORM DATA -->
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Nombre</label>
                                <input required md-maxlength="50" maxlength="50" ng-model="model.event.name">
                            </md-input-container>

                            <div flex="5"></div>

                            <md-input-container class="md-block" flex="30">
                                <label>Fecha</label>
                                <gale-datepicker required ng-model="model.event.date"></gale-datepicker>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Conocimiento</label>
                                <knowledge-selector required ng-model="model.event.knowledge"></knowledge-selector>
                            </md-input-container>

                            <div flex="5"></div>

                            <md-input-container class="md-block" flex="30">
                                <label>Hora</label>
                                <md-select required ng-model="model.event.time">
                                    <md-option ng-repeat="time in times" ng-value="time">
                                        {{time.label}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Lugar</label>
                                <place-locator required ng-model="model.event.place"></place-locator>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Descripción</label>
                                <textarea required rows="2" md-maxlength="500" maxlength="500" ng-model="model.event.description"></textarea>
                            </md-input-container>
                        </div>

                    </form>
                </md-content>
            </event-body>

            <event-tags>
                <md-chips flex md-separator-keys="model.tags.electricChars" ng-model="model.event.tags" md-on-remove="find(model.tags.items);" md-on-add="find(model.tags.items);" md-separator-keys="" md-autocomplete-snap md-transform-chip="setOrRegister($chip)" md-require-match="false">
                    <md-autocomplete md-delay="0" placeholder="Etiquetas de interes" md-min-length="2" md-selected-item="model.selectedItem" md-search-text="model.searchText" md-items="item in queryTags(model.searchText)" md-item-text="item.name">
                        <span md-highlight-text="model.searchText">{{item.name}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                            <strong>{{$chip.name}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
            </event-tags>

            <event-advanced-settings ng-show="showAdvancedSettings" id="{{showAdvancedSettingsId}}">
                <h2 class="md-accent text">
                    Opciones Avanzadas
                </h2>

                <md-switch ng-model="model.event.isRestricted" aria-label="Aprobation" class="md-accent text">
                    Los participantes deberán ser aprobados por mi antes de unirse
                </md-switch>
                <md-switch ng-model="model.event.isPrivate" aria-label="Private" class="md-accent text">
                    Este es un evento privado <i>(deberas unir participantes de forma manual)</i>
                </md-switch>
            </event-advanced-settings>

            <event-actions>
                <md-button ng-click="tooggleSettings(showAdvancedSettingsId)" class="md-accent text settings">
                    <md-icon md-svg-icon="action:settings"></md-icon>
                    {{ showAdvancedSettings ? 'Ocultar' : 'Ver' }}&nbsp;opciones avanzadas
                </md-button>

                <md-button ng-click="cancel()">
                    Cancelar
                </md-button>

                <md-button class="md-raised md-primary" ng-click="save(model.event)" ng-disabled="!form.$valid">
                    Crear Evento
                </md-button>
            </event-actions>
        </event-content>

    </div>

</gale-page>
