@import "_variables";
@import "_flexbox";
html,
body {
    background-color: #FFF;
}

.show-on-responsive {
    display: none;
}

@media only screen and (max-width: 800px) {
    .hide-on-responsive {
        display: none !important;
    }
    .show-on-responsive {
        display: block !important;
    }
}


/*
    ANIMATES
*/

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}
