<gale-page class="events view resume" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools hide-on-responsive">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
            <identity-box>
            </identity-box>
        </div>
    </md-toolbar>
    <!-- LEFT SIDENAV (MAP) -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="mapPanel">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">{{model.event.place.name}}</h1>
        </md-toolbar>
        <md-content>
            <place-viewer ng-if="panel == 'PLAC'" place="model.event.place.token">
            </place-viewer>
            
        </md-content>
    </md-sidenav>
    <!-- RIGHT SIDENAV (MAP)-->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="commentsPanel">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Comentarios</h1>
        </md-toolbar>
        <md-content>
            <comments-viewer ng-if="model.event" on-add-comment="refresh" event="model.event.token">
            </comments-viewer>
        </md-content>
    </md-sidenav>
    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-if="!model.event">
    </md-progress-linear>
    <flex-loading ng-if="!model.event">
    </flex-loading>
    <div ng-if="model.event">
        <!-- AVATAR -->
        <event-left-column class="hide-on-responsive">
            <!-- AVATAR -->
            <event-avatar>
                <div class="halo">
                    <div>
                        <md-tooltip>
                            {{model.event.creator.name}}
                        </md-tooltip>
                        <img ng-src="{{model.event.creator.photo | file}}" />
                    </div>
                </div>
            </event-avatar>
            <!-- FOLLOW BUTTON -->
            <event-follow class="spacer" ng-class="{'authenticated': model.user, 'addspace': !(model.user && model.event.creator.token !== model.user.primarysid)}">
                <md-button ng-show="(model.user && model.event.creator.token !== model.user.primarysid)" ng-disabled="model.personal.creator.following === null" class="md-primary md-raised follow" ng-click="follow(model.event)">
                    <span ng-show="model.personal.creator.following === false">
                    <md-icon md-svg-icon="social:person_add"></md-icon>
                    Seguir
                </span>
                    <span ng-show="model.personal.creator.following === true">
                    <md-icon md-svg-icon="navigation:check"></md-icon>
                    Siguiendo
                </span>
                    <center ng-show="model.personal.creator.following === null">
                        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="35px"></md-progress-circular>
                    </center>
                </md-button>
            </event-follow>
            <!-- DATE PICKER -->
            <event-date class="md-primary background date">
                <div class="day" flex="initial">
                    {{model.event.date | amDateFormat: 'YYYY'}}
                </div>
                <div flex layout="column" layout-align="center center" layout-fill>
                    <div class="month">
                        {{model.event.date | amDateFormat: 'dddd'}}
                    </div>
                    <div class="day">
                        {{model.event.date | amDateFormat: 'D'}}
                    </div>
                    <div class="year">
                        {{model.event.date | amDateFormat: 'MMMM'}}
                    </div>
                </div>
            </event-date>
        </event-left-column>
        <!-- WHITE BOX -->
        <event-right-column class="md-whiteframe-z2" ng-class="{'show-settings': showAdvancedSettings}">
            <responsive-event-avatar class="show-on-responsive">
                <div class="halo">
                    <div>
                        <md-tooltip>
                            {{model.event.creator.name}}
                        </md-tooltip>
                        <img ng-src="{{model.event.creator.photo | file}}" />
                    </div>
                </div>
            </responsive-event-avatar>
            <event-organizer>
                <span>
                    Organizado por:
                </span>
                <span>
                    {{model.event.creator.name}}
                </span>
            </event-organizer>
            <event-location class="hide-on-responsive">
                <google-map readonly="true" ng-click="showMap(model.event.place)" coordinates="model.event.place">
                </google-map>
            </event-location>
            <event-header>
                <!-- TITLE -->
                <div layout="row">
                    <h1 class="md-primary text" flex="75">
                        <span><strong>{{model.event.name}}</strong></span>
                    </h1>
                    <!-- JOIN EVENT -->
                    <div flex="25" layout="row" layout-align="center center" class="hide-on-responsive">
                        <md-button ng-show="(model.event.creator.token !== model.user.primarysid)" class="md-accent md-raised join" ng-disabled="model.personal.participation.state === null" ng-click="join(model.event)">
                            <span ng-show="!model.personal">
                                <md-icon md-svg-icon="social:group_add"></md-icon>
                                Participar
                            </span>
                            <span ng-show="model.personal.participation.state === 'NONE' || model.personal.participation.state === 'INVITED'">
                                <md-icon md-svg-icon="social:group_add"></md-icon>
                                Participar
                            </span>
                            <span ng-show="model.personal.participation.state === 'JOINED'">
                                <md-icon md-svg-icon="content:block"></md-icon>
                                No Podré Ir
                            </span>
                            <center ng-show="model.personal.participation.state === null">
                                <md-progress-circular class="md-accent " md-mode="indeterminate" md-diameter="35px"></md-progress-circular>
                            </center>
                        </md-button>
                    </div>
                </div>
                <!-- DATE -->
                <div>
                    <div>
                        <md-icon class="md-primary text" md-svg-icon="action:schedule"></md-icon>
                    </div>
                    <span>
                        <span>{{model.event.date | amCalendar}}</span>
                    <br/>
                    <span am-time-ago="model.event.date"></span>
                    </span>
                    <div class="hide-on-responsive">
                        <md-button ng-click="invite($event)">
                            <md-icon class="md-accent text" md-svg-icon="communication:email"></md-icon>
                            Invitar
                        </md-button>
                    </div>
                    <div class="hide-on-responsive">
                        <md-button ng-click="share($event, model.event)">
                            <md-icon class="md-accent text" md-svg-icon="social:share"></md-icon>
                            Compartir
                        </md-button>
                    </div>
                    <!--
                    <div>
                        <md-button>
                            <md-icon class="md-accent text" md-svg-icon="content:create"></md-icon>
                            Editar
                        </md-button>
                    </div>
                    -->
                </div>
                <!-- LOCATION -->
                <div>
                    <div>
                        <md-icon class="md-primary text" md-svg-icon="maps:place"></md-icon>
                    </div>
                    <span>
                        <span>{{model.event.place.name}}</span>
                    <br />
                    <span>{{model.event.place.address}}</span>
                    </span>
                    <div class="hide-on-responsive">
                        <md-button ng-click="showMap(model.event.place)">
                            Ver Lugar
                        </md-button>
                    </div>
                </div>
                <responsive-participation class="show-on-responsive">
                    <md-button ng-show="(model.event.creator.token !== model.user.primarysid)" class="md-accent md-raised join" ng-disabled="model.personal.participation.state === null" ng-click="join(model.event)">
                        <span ng-show="!model.personal">
                                <md-icon md-svg-icon="social:group_add"></md-icon>
                                Participar
                            </span>
                        <span ng-show="model.personal.participation.state === 'NONE' || model.personal.participation.state === 'INVITED'">
                                <md-icon md-svg-icon="social:group_add"></md-icon>
                                Participar
                            </span>
                        <span ng-show="model.personal.participation.state === 'JOINED'">
                                <md-icon md-svg-icon="content:block"></md-icon>
                                No Podré Ir
                            </span>
                        <center ng-show="model.personal.participation.state === null">
                            <md-progress-circular class="md-accent " md-mode="indeterminate" md-diameter="35px"></md-progress-circular>
                        </center>
                    </md-button>
                </responsive-participation>
            </event-header>
            <event-body>
                <div>
                    <event-description>
                        <p>
                            {{model.event.description}}
                        </p>
                    </event-description>
                    <!-- TAGS -->
                    <event-tags>
                        <md-chips readonly="true" flex ng-model="model.event.tags">
                            <md-chip-template>
                                <span>
                                <strong>#{{$chip.name}}</strong>
                            </span>
                            </md-chip-template>
                        </md-chips>
                    </event-tags>
                </div>
                <event-statistics>
                    <div class="kpis">
                        <div>
                            <p>
                                {{model.event.participants.confirmed}}
                            </p>
                            <span>
                                Participantes 
                            </span>
                        </div>
                        <div>
                            <p>
                                {{model.event.participants.guests}}
                            </p>
                            <span>
                                Invitados
                            </span>
                        </div>
                    </div>
                    <div class="friends">
                        <!-- PARTICIPANTS -->
                        <div class="marker" ng-repeat="item in model.event.participants.tops">
                            <md-tooltip>
                                {{item.fullname}}
                            </md-tooltip>
                            <div class="halo">
                                <div>
                                    <img ng-src="{{item.photo | file}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COMMENTS -->
                    <center class="hide-on-responsive">
                        <md-button class="md-primary text comments" aria-label="ar" ng-disabled="model.event.joined === null" ng-click="showComments(model.event)">
                            <!-- AT LEAST 1 COMMENT-->
                            <span ng-if="model.event.comments.total > 0">
                                <md-icon class="md-primary text" md-svg-icon="communication:chat"></md-icon>
                                {{model.event.comments.total}}&nbsp;{{model.event.comments.total > 1 ? 'Comentarios': 'Comentario'}}
                            </span>
                            <!-- NO COMMENTS? -->
                            <span ng-if="model.event.comments.total == 0">
                                <md-icon class="md-primary text" md-svg-icon="editor:insert_comment"></md-icon>
                                Enviar Comentario
                            </span>
                        </md-button>
                    </center>
                </event-statistics>
            </event-body>
            <responsive-event-actions class="show-on-responsive">
                <div layout="row">
                    <div flex layout="column" layout-align="center center" ng-click="share($event, model.event)">
                        <md-icon class="md-primary text" md-svg-icon="social:share"></md-icon>
                        <span>Compartir</span>
                    </div>
                    <div flex layout="column" layout-align="center center" ng-click="showComments(model.event)">
                        <md-icon class="md-primary text" md-svg-icon="communication:message"></md-icon>
                        <span>{{model.event.comments.total}}&nbsp;{{model.event.comments.total > 1 ? 'Comentarios': 'Comentario'}}</span>
                    </div>
                    <div flex layout="column" layout-align="center center" ng-click="showMap(model.event.place)">
                        <md-icon class="md-primary text" md-svg-icon="maps:map"></md-icon>
                        <span>Ver Lugar</span>
                    </div>
                </div>
            </responsive-event-actions>
        </event-right-column>
    </div>
</gale-page>
