<gale-page class="events view resume" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <!-- LEFT SIDENAV (MAP) -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="mapDetails">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">{{model.event.place.name}}</h1>
        </md-toolbar>
        <md-content>
            <place-viewer ng-if="panel.place" place="panel.place">
            </place-viewer>
        </md-content>
    </md-sidenav>
    <!-- RIGHT SIDENAV (MAP)-->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="eventDetailsRight">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Comentarios</h1>
        </md-toolbar>
        <md-content>
            <comments-viewer ng-if="model.panel.comments" event="model.event.token">
            </comments-viewer>
        </md-content>
    </md-sidenav>
    <!-- AVATAR -->
    <event-avatar>
        <div class="marker">
            <div class="halo">
                <div>
                    <img ng-src="{{model.event.creator.photo | file}}" />
                </div>
            </div>
        </div>
        <!-- DATE PICKER -->
        <div class="md-primary background date" layout="column">
            <div class="day" flex="initial">
                {{model.event.date | amDateFormat: 'YYYY'}}
            </div>
            <div flex layout="column" layout-align="center center" layout-fill>
                <div class="month">
                    {{model.event.date | amDateFormat: 'dddd'}}
                </div>
                <div class="day">
                    {{model.event.date | amDateFormat: 'D'}}
                </div>
                <div class="year">
                    {{model.event.date | amDateFormat: 'MMMM'}}
                </div>
            </div>
        </div>
    </event-avatar>
    <!-- WHITE BOX -->
    <div class="column">
        <event-content class="md-whiteframe-z2" ng-class="{'show-settings': showAdvancedSettings}">
            <event-location>
                <google-map readonly="true" ng-click="showMap(model.event.place)" coordinates="model.event.place">
                </google-map>
            </event-location>
            <event-header>
                <!-- TITLE -->
                <div>
                    <h1 class="md-primary text">
                        <span><strong>{{model.event.name}}</strong></span>
                    </h1>
                </div>
                <!-- DATE -->
                <div>
                    <div>
                        <md-icon class="md-primary text" md-svg-icon="action:schedule"></md-icon>
                    </div>
                    <span>
                        <span>{{model.event.date | amCalendar}}</span>
                    <br/>
                    <span am-time-ago="model.event.date"></span>
                    </span>
                    <div>
                        <md-button ng-click="invite($event)">
                            <md-icon class="md-accent text" md-svg-icon="communication:email"></md-icon>
                            Invitar
                        </md-button>
                    </div>
                    <div>
                        <md-button>
                            <md-icon class="md-accent text" md-svg-icon="content:create"></md-icon>
                            Editar
                        </md-button>
                    </div>
                </div>
                <!-- LOCATION -->
                <div>
                    <div>
                        <md-icon class="md-primary text" md-svg-icon="maps:place"></md-icon>
                    </div>
                    <span>
                        <span>{{model.event.place.name}}</span>
                    <br />
                    <span>{{model.event.place.address}}</span>
                    </span>
                    <div>
                        <md-button ng-click="showMap(model.event.place)">
                            Ver Lugar
                        </md-button>
                    </div>
                </div>
            </event-header>
            <event-body>
                <div>
                    <event-description>
                        <p>
                            {{model.event.description}}
                        </p>
                    </event-description>
                    <!-- TAGS -->
                    <event-tags>
                        <md-chips readonly="true" flex ng-model="model.event.tags">
                            <md-chip-template>
                                <span>
                                <strong>#{{$chip.name}}</strong>
                            </span>
                            </md-chip-template>
                        </md-chips>
                    </event-tags>
                </div>
                <div>
                    <div class="kpis">
                        <div>
                            <p>
                                23
                            </p>
                            <span>
                                Participantes 
                            </span>
                        </div>
                        <div>
                            <p>
                                12
                            </p>
                            <span>
                                Invitados
                            </span>
                        </div>
                    </div>
                    <div class="friends">
                        <!-- FRIEND -->
                        <div class="marker">
                            <md-tooltip>
                                {{model.user.unique_name}}
                            </md-tooltip>
                            <div class="halo">
                                <div>
                                    <img ng-src="{{model.user.photo | file}}" />
                                </div>
                            </div>
                        </div>
                        <div class="marker">
                            <md-tooltip>
                                {{model.user.unique_name}}
                            </md-tooltip>
                            <div class="halo">
                                <div>
                                    <img ng-src="{{model.user.photo | file}}" />
                                </div>
                            </div>
                        </div>
                        <div class="marker">
                            <md-tooltip>
                                {{model.user.unique_name}}
                            </md-tooltip>
                            <div class="halo">
                                <div>
                                    <img ng-src="{{model.user.photo | file}}" />
                                </div>
                            </div>
                        </div>
                        <div class="marker">
                            <md-tooltip>
                                {{model.user.unique_name}}
                            </md-tooltip>
                            <div class="halo">
                                <div>
                                    <img ng-src="{{model.user.photo | file}}" />
                                </div>
                            </div>
                        </div>
                        <div class="marker">
                            <md-tooltip>
                                {{model.user.unique_name}}
                            </md-tooltip>
                            <div class="halo">
                                <div>
                                    <img ng-src="{{model.user.photo | file}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </event-body>
        </event-content>
    </div>
</gale-page>
