<md-dialog aria-label="dd" class="events details view index">
    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-if="!model.event">
    </md-progress-linear>
    <!-- LEFT SIDENAV (MAP) -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="eventDetailsLeft">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">{{model.event.place.name}}</h1>
        </md-toolbar>
        <md-content>
            <place-viewer ng-if="model.panel.place" event="model.panel.place"></place-viewer>
        </md-content>
    </md-sidenav>
    <!-- RIGHT SIDENAV (MAP)-->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="eventDetailsRight">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Comentarios</h1>
        </md-toolbar>
        <md-content>
            <comments-viewer ng-if="model.panel.comments" event="model.event.token">
            </comments-viewer>
        </md-content>
    </md-sidenav>
    <!-- DIALOG CONTENT -->
    <md-dialog-content>
        <!-- AVATAR -->
        <dialog-avatar>
            <div class="marker">
                <div class="halo">
                    <div>
                        <img ng-src="{{model.event.creator.photo | file}}" />
                    </div>
                </div>
            </div>
            <div class="name">
                {{model.event.creator.name}}
            </div>
            <!-- FOLLOW BUTTON -->
            <md-button ng-disabled="model.event.creator.following === null" class="md-accent text follow" ng-click="follow(model.event)">
                <span ng-show="model.event.creator.following === false">
                    <md-icon md-svg-icon="social:person_add"></md-icon>
                    Seguir
                </span>
                <span ng-show="model.event.creator.following === true">
                    <md-icon md-svg-icon="navigation:check"></md-icon>
                    Siguiendo
                </span>
                <center ng-show="model.event.creator.following === null">
                    <md-progress-circular class="md-accent " md-mode="indeterminate" md-diameter="35px"></md-progress-circular>
                </center>
            </md-button>
            <!-- DATE PICKER -->
            <div class="md-primary background date" layout="column" ng-if="model.event">
                <div class="day" flex="initial">
                    {{model.event.date | amDateFormat: 'YYYY'}}
                </div>
                <div flex layout="column" layout-align="center center" layout-fill>
                    <div class="month">
                        {{model.event.date | amDateFormat: 'dddd'}}
                    </div>
                    <div class="day">
                        {{model.event.date | amDateFormat: 'D'}}
                    </div>
                    <div class="year">
                        {{model.event.date | amDateFormat: 'MMMM'}}
                    </div>
                </div>
            </div>
        </dialog-avatar>
        <!-- WHITE BOX -->
        <dialog-content>
            <flex-loading ng-if="!model.event">
            </flex-loading>
            <div ng-if="model.event">
                <event-header layout="row">
                    <div flex>
                        <h1 class="md-primary text">
                            {{model.event.name}}
                            <span>
                                <md-tooltip md-direction="right">
                                    Recomendaciones actuales del conocimiento
                                </md-tooltip>

                                <md-icon class="md-primary text" md-svg-icon="action:done"></md-icon>
                                {{model.event.knowledge.recommendations}}
                            </span>
                        </h1>
                        <h2>
                            Conocimiento:
                            <strong>{{model.event.knowledge.name}}</strong>
                            <span>
                                <md-tooltip md-direction="right">
                                    Participantes actuales
                                </md-tooltip>

                                <md-icon md-svg-icon="social:group"></md-icon>
                                {{model.event.participants}}
                            </span>
                        </h2>
                    </div>
                    <div flex="20" layout="row" layout-align="center center">
                        <md-button class="md-accent md-raised" ng-disabled="model.event.joined === null" ng-click="join(model.event)">
                            <span ng-show="model.event.joined === 'NONE'">
                                <md-icon md-svg-icon="navigation:check"></md-icon>
                                Únirme
                            </span>
                            <span ng-show="model.event.joined === 'PENDING'">
                                <md-icon md-svg-icon="toggle:radio_button_unchecked"></md-icon>
                                Pendiente De Aprobación
                            </span>
                            <span ng-show="model.event.joined === 'JOINED'">
                                <md-icon md-svg-icon="content:block"></md-icon>
                                Declinar Unión
                            </span>
                            <center ng-show="model.event.joined === null">
                                <md-progress-circular class="md-accent " md-mode="indeterminate" md-diameter="35px"></md-progress-circular>
                            </center>
                        </md-button>
                    </div>
                </event-header>
                <div layout="row">
                    <event-description flex>
                        <!-- DESCRIPTION -->
                        <p>
                            {{model.event.description}}
                        </p>
                        <!-- TAGS -->
                        <event-tags>
                            <md-chips readonly="true" flex ng-model="model.event.tags">
                                <md-chip-template>
                                    <span>
                                        <strong>#{{$chip.name}}</strong>
                                    </span>
                                </md-chip-template>
                            </md-chips>
                        </event-tags>
                    </event-description>
                    <event-location flex="40">
                        <google-map readonly="true" ng-click="showMap(model.event.place)" coordinates="model.event.place" title="model.event.place.name">
                        </google-map>
                    </event-location>
                </div>
                <event-comments>
                    <comment ng-repeat="comment in model.event.lastComments" ng-if="$index < 2">
                        <div>
                            <avatar>
                                <div class="halo">
                                    <div>
                                        <md-tooltip md-direction="bottom">
                                            {{comment.creator.name}}
                                        </md-tooltip>
                                        <img ng-src="{{comment.creator.photo | file}}" />
                                    </div>
                                </div>
                            </avatar>
                        </div>
                        <description>
                            {{comment.comment}}
                        </description>
                        <created-at>
                            <span am-time-ago="comment.createdAt"></span>
                        </created-at>
                    </comment>
                </event-comments>
                <load-comments class="md-primary text" ng-click="showAllComments()" ng-if="model.event.lastComments.length > 1">
                    Quiero ver todos los comentarios!
                </load-comments>
                <form name="form">
                    <new-comment>
                        <div>
                            <md-input-container class="md-block">
                                <label>Si tienes alguna duda... comentanos!</label>
                                <textarea maxlength="200" ng-model="model.newcomment.comment" columns="1" md-maxlength="200" rows="2"></textarea>
                            </md-input-container>
                        </div>
                        <div>
                            <md-button ng-click="comment(model.event,model.newcomment);" ng-disabled="!model.newcomment.comment || model.newcomment.isCreating || model.newcomment.comment.length==0" class="md-raised md-primary">
                                <span ng-show="!model.newcomment.isCreating">
                                    Comentar
                                </span>
                                <center ng-show="model.newcomment.isCreating">
                                    <md-progress-circular class="md-accent " md-mode="indeterminate" md-diameter="35px"></md-progress-circular>
                                </center>
                            </md-button>
                        </div>
                    </new-comment>
                </form>
            </div>
        </dialog-content>
    </md-dialog-content>
</md-dialog>
